:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --tertiary-color: #f89085;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

.section1 {
  width: calc(100vw / 2); /* half of the viewport width */
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
  animation: pulse 1s ease-in-out infinite;
  margin: 10px auto;
}
/* desktop screen  */
@media only screen and (min-width: 767px) {
  .section1 {
    width: calc(100vw / 4); /* One-third of the viewport width */
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    animation: pulse 1s ease-in-out infinite;
    margin: 20px auto;
  }
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.section1 h2 {
  margin: 0;
  font-size: 24px;
  color: white;
  text-align: center;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc img {
  max-width: 90%;
  height: auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: var(--tertiary-color);
}

.scale-button {
  transition: transform 0.3s ease-in-out;
  border-radius: 30px;
  padding: 1.5em;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1em;
  display: block;
  cursor: url('./assets/custom-cursor.png'),pointer ;
  margin: 20px auto;
}

.scale-button:hover {
  transform: scale(1.1);
  background-color: #0c466d;
}

.pseudo-section {
  position: relative;
  margin: 0 20px;
  padding: 1em;
  text-align: center;

}

.pseudo-section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  z-index: -1;
  border-radius: 40px;
}


.card {
  perspective: 1000px;
  margin: 30px 0;
  display: grid;
  justify-items: center;
}

.card-inner{
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover .card-inner{
  transform: rotateY(180deg);
}

.card-front, .card-back{
  width: 100%;
  height:100%;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  backface-visibility: hidden;
}

.card-front{
  background-color: var(--primary-color);
}

.card-back {
  background-color: var(--secondary-color);
  transform: rotateY(180deg);
}

.slider-container {
  margin: 0px 10px;
  width: 300px;
  transition: background-color 0.3s;
}

.slider {
  width: 100%;
  background-color: var(--tertiary-color);
  border-radius: 5px;
  appearance: none;
  height: 8px;
  outline: none;
  transition: background-color 0.3s;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
}

.toggle {
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.toggle.active {
  background-color: #27ae60;
}

.toggle-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: transform 0.2s;
}

.toggle.active .toggle-handle {
  transform: translateX(20px);
}


